[submodule "external/libdap"]
	path = external/libdap
	url = https://github.com/HackerCorpLabs/libdap
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "external/libsymbols"]
	path = external/libsymbols
	url = https://github.com/HackerCorpLabs/libsymbols
