[submodule "external/libdap"]
	path = external/libdap
	url = https://github.com/HackerCorpLabs/libdap
	branch = main
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
	branch = master
[submodule "external/libsymbols"]
	path = external/libsymbols
	url = https://github.com/HackerCorpLabs/libsymbols
	branch = main
